body{
    margin: 0px;
}

header{
background-color:  rgb(72, 72, 72);
font-family: Arial;
}

header h1 {
    margin: 10px;
    padding: 10px;
    font-size: 250%;
}

.menu {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(41, 48, 41);
}

.menu li{
    float: left;
    border-right: 1px solid rgb(46, 46, 42);
}

.menu li a {
    display: block;
    color:  white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.menu li:last-child{
    border-right: none;
}